# NumPy
![img](ML.png)

In [2]:
import numpy as np

# Datatypes and Attributes

In [3]:
a1 = np.array([1,2,3,4,5,6])
a1

array([1, 2, 3, 4, 5, 6])

In [4]:
type(a1)

numpy.ndarray

In [5]:
a2 = np.array([[1,2,3,4],[5,6,7,8]])
a2

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [6]:
a3 = np.array([[1,2.4,6],
               [1.4,4.3,8.5],
               [1,6,6.6]]);
a3

array([[1. , 2.4, 6. ],
       [1.4, 4.3, 8.5],
       [1. , 6. , 6.6]])

In [7]:
a4 = np.array([ [[1,2,3],[2,4,5],[2,7,8]],
                [[3,5,4],[4,3,2],[3,6,3]],
                [[3,3,4],[0,7,8],[9,8,9]] ])
a4

array([[[1, 2, 3],
        [2, 4, 5],
        [2, 7, 8]],

       [[3, 5, 4],
        [4, 3, 2],
        [3, 6, 3]],

       [[3, 3, 4],
        [0, 7, 8],
        [9, 8, 9]]])

In [12]:
a4.shape

(3, 3, 3)

In [11]:
a1.ndim, a2.ndim, a3.ndim, a4.ndim

(1, 2, 2, 3)

In [13]:
a1.dtype, a2.dtype, a3.dtype

(dtype('int32'), dtype('int32'), dtype('float64'))

In [14]:
a1.size, a2.size, a3.size, a4.size

(6, 8, 9, 27)

In [15]:
type(a1), type(a4)

(numpy.ndarray, numpy.ndarray)

In [21]:
#panda dataframe from array 
import pandas as pd
    
df = pd.DataFrame(a3)
df

     0    1    2
0  1.0  2.4  6.0
1  1.4  4.3  8.5
2  1.0  6.0  6.6

# 2. creating numpy array